body
  font-size 16px
  font-family 'Roboto'
h1, h2, h3, h4, h5, h6
  font-family 'Roboto'
.logo-text
	font-size 2em
	font-weight 200
.navbar-default .navbar-nav > li > a
  font-family 'Roboto'
  font-weight 200
  &:hover
    color #FFFFFF
    background #24618C
.login-dropdown-list
    background #FFFFFF !important
.navbar-toggle
  border 0
.map-container
  width 100vw
  max-width 100%
  height 50vh
.suggestions
  height 90vh