body
  font-size 16px
  font-family 'Roboto'
h1, h2, h3, h4, h5, h6
  font-family 'Roboto'
.logo-text
	font-size 2em
	font-weight 200
.navbar-default .navbar-nav > li > a
  font-family 'Roboto'
  font-weight 200
  &:hover
    color #FFFFFF
    background #24618C
.login-dropdown-list
    background #FFFFFF !important
.navbar-toggle
  border 0
.map-container
  width 100vw
  max-width 100%
  height 55%
.map-search-container
  height 100%

.suggestions
  height 90vh
.overflow-scroll
  overflow scroll
  max-height 90%
.home-options
  height 40%
.padding-1-em
  padding 1em
.suggestions-panel
  margin-top 1em
  height 42.3%
.mini-avatar
  padding 4px
.map-container-suggestions
  height 20em;
  width 100%;
.image {
    position:relative;
    width:200px;
    height:200px;
}
// .image img {
//     width:100%;
//     vertical-align:top;
// }
.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
}
.image:after 
  content:'\A';
  // width:100%; height:100%;
  top:0; left:0;
.image:before
  content attr(data-content)
  width 100%
  font-size 2em
  line-height 1.5em
  color #000
  z-index 1
  text-align:center
  background rgba(255,255,255,0.5)
  // background:red;
  // box-sizing:border-box;
  // -moz-box-sizing:border-box;
.image:hover:after, .image:hover:before
  opacity 1

.profile.picture > img
  width 100%
  height auto
  max-width 160px

#new-place-map
  width 100%
  height 100%
.tooltip {
  z-index: 1001;
  pointer-events: none;
  transition: opacity .1s ease-out;
  opacity: 0;

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}