template(name='find')
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
  .container.row
    .col-xs-12
      .panel.panel-default
        .panel-heading Places Menu
        .panel-body
          .row
            .col-xs-12
              span What kind of place are you looking for? 
          .row
            .col-xs-12
              //- .btn-group.btn-group-justified
              span.btn.btn-default.dropdown-toggle#place-type(type='button', data-toggle='dropdown', aria-expanded='false')
                | {{placeType}}
                span.caret
              ul.dropdown-menu(role='menu')
                li.click-place-type(data='Food')
                  a(href='#') Food
                li.click-place-type(data='Cafe & Bar')
                  a(href='#') Cafe & Bar
                li.click-place-type(data='Park')
                  a(href='#') Park
                li.click-place-type(data='Library')
                  a(href='#') Library
                li.click-place-type(data='Club')
                  a(href='#') Club
                li.click-place-type(data='Clothing')
                  a(href='#') Clothing
                li.click-place-type(data='Mall')
                  a(href='#') Mall
                li.click-place-type(data='Cinema')
                  a(href='#') Cinema
                li.divider
                li.click-place-type(data='Random')
                  a(href='#') Random
              .btn-group.pull-right#find-places
                .btn.btn-primary Find Place
        ul.list-group
          li.list-group-item
            .row
              br
              .col-xs-12 Friends (for group based recommendations)
            .row 
              .col-xs-10
                br
                | {{> inputAutocomplete settings=settings id="legend" class="form-control" name="legend" placeholder="Type in email of friend" }}
              .col-xs-2
                br
                .btn.pull-right.btn-default#add-friend-to-group Add
            .row
              .col-xs-12
                each group
                  span.click-avatar(id=this.gravatar)
                    span.image(data-content='✕')
                      img.img-circle.mini-avatar(src='http://www.gravatar.com/avatar/{{this.gravatar}}?s=40')
            .row
              .col-xs-12#hover-friend


              //- input.form-control(type='text', placeholder="Type friends' email", aria-describedby='basic-addon1')
  .container.row
    .col-xs-12
      .suggestions-panel.panel.panel-default
        .panel-heading Suggestion
        .row
          .col-xs-12.col-sm-4
            h3 #{placeName}
            p#address-space
          .col-xs-12.col-sm-8
            .map-container-suggestions
              | {{> googleMap name="Map" options=MapOptions}}
template(name='standardLegends')
  | <span id='{{gravatar}}'><img src='http://www.gravatar.com/avatar/{{gravatar}}?s=40' class='img-circle mini-avatar'/> {{email}}</span>
