template(name='friends')
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
  .container.row
    .col-xs-12
      .panel.panel-default
        .panel-heading Find New Friends
        ul.list-group
          li.list-group-item
            .row 
              .col-xs-12
                br
                | {{> inputAutocomplete settings=settings id="legend" class="form-control" name="legend" placeholder="Type in email of friend" }}
            .row
              .col-xs-10.group-container
              .col-xs-2
                br
                .btn.pull-right.btn-default#add-friend-to-group Add New
              //- input.form-control(type='text', placeholder="Type friends' email", aria-describedby='basic-addon1')
  .container.row
    .col-xs-12
      .suggestions-panel.panel.panel-default
        .panel-heading Your Friends
        .row
          .col-xs-12