template(name='home')
  .container.row
    .col-xs-12.col-sm-4
      .panel.panel-default.suggestions
        // Default panel contents
        .panel-heading Rate recent suggestions
        ul.list-group
          li.list-group-item
            //- div #{recentPlace.name}
            //- div #{recentPlace.type}
            div Place
            div Place type
            #add-rating.rateit
          li.list-group-item Dapibus ac facilisis in
          li.list-group-item Morbi leo risus
          li.list-group-item Porta ac consectetur ac
          li.list-group-item Vestibulum at eros




    .col-xs-12.col-sm-8
      .map-container
        | {{> googleMap name="Map" options=MapOptions}}