template(name='settings')
  if currentUser
    h1 Settings
    hr
    .user-info
      .mail.hidden
        span #{username.mail}
      .panel.panel-default
        .panel-heading
          h3.panel-title Basic information
        .panel-body
          .row
            .col-sm-offset-2.col-xs-3
              p Name
            .col-xs-9.col-sm-6
              p
                input.form-control#name(type='text', placeholder='Edit Name ...')
          .row
            .col-sm-offset-2.col-xs-3
              p Email
            .col-xs-9.col-sm-6
              p
                input.form-control#email(type='email', placeholder='Edit Email ...')
          .row
            .col-sm-offset-2.col-xs-3
              p City
            .col-xs-9.col-sm-6
              p
                input.form-control#city(type='text', placeholder='Edit City ...')
          .row
            .col-sm-offset-2.col-xs-3
              p Country
            .col-xs-9.col-sm-6
              p
                input.form-control#country(type='text', placeholder='Edit Country ...')
          button#ok-button.btn.btn-default.pull-right(type='button') Save
